<div class="container">
 <div class = "row">

  <!--鉱石のテーブル-->
  <div class="col-8">

    <table class="sora">

     <thead>
      <tr>
       <th class="madoka">鉱石名</th>
       <th class="madoka">数量</th>
      </tr>
     </thead>

    <tbody>

      <tr>

       <td>
         <%= @ranking.ore.stone %>
       </td>

       <td>
         <%= @ranking.amount %>
       </td>

      </tr>

    </tbody>

    </table>

  </div>

  <div class="row">
   <div class = "col-5">

     <!--順位の説明-->
     <strong class="d-inline">順位</strong>
     <p class="d-inline">
        <%= @ranking.rank_i18n %>
     </p>

     <!--ランキングの説明-->
     <strong class="d-inline">ランキング用鉱石</strong>
     <p class="d-inline">
        <%= @ranking.ore.stone + "x" + @ranking.amount.to_s %>
     </p>

   </div>

  <!--情報確定ボタン-->
  <%= form_with model: @ranking, url: rankings_path do |f| %>
    <%= f.hidden_field :rank, :value => @ranking.rank %>
    <%= f.hidden_field :ore_id, value: @ore.id %>
    <%= f.hidden_field :amount, value: @ranking.amount %>

    <!--装飾品を入れたい場合-->
    <% if @decoration.present? %>
     <%= f.hidden_field :amulet, value: @decoration.amulet %>
    <% end %>

    <div class="col-7">
     <%= f.submit '情報を確定する', class: "btn btn-success" %>
    </div>
  <% end %>

 </div>


 </div>
</div>