<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="col-md-8">
      <h2 class="teo">ランキング一覧</h2>

      <table class="table table-bordered">

        <thead class="seki">
          <tr class="text-dark font-weight-bold">
            <th>登録日時</th>
            <th>装飾品</th>
            <th>登録鉱石</th>
            <th>順位</th>
            <th>ランキング詳細</th>
            <th>ブックマーク</th>
            <th>コメント数</th>
          </tr>
        </thead>

        <!--ランキングの繰り返し処理-->
        <% @rankings.each do |ranking| %>
          <tbody class="haku">
            <tr>
              <td>
                <%= ranking.created_at.strftime('%Y/%m/%d') %>
              </td>

              <td>
                <%= ranking.amulet %>
              </td>

              <td>
                <%= ranking.ore.stone %>
              </td>

              <td>
                <%= ranking.rank_i18n %>
              </td>

              <td>
                <%= link_to '表示する', ranking_path(ranking), class: 'btn btn-sm btn-info' %>
              </td>

              <td id="favorite_buttons_<%= ranking.id %>">
                <%= render "public/favorites/favorites", ranking: ranking %>
              </td>

              <td>
                <%= ranking.stone_comments.count %>
              </td>

            </tr>
          </tbody>
        <% end %>

      </table>

    </div>

  </div>

  <div class="row mb-5 mt-3">
    <div class="col col-md-8 offset-md-4">
      <p><%= link_to "ブックマークへ", rankings_bookmark_path %></p>
    </div>
  </div>

</div>