<div class="container pt-4">

    <div class="row">
      <h3 class="teo">ランキング情報入力</h3>
    </div>

    <div class="row">
      <div class="col-10 mx-auto pt-4">

        <%= form_with model: @ranking, url: rankings_confirm_path, local:true do |f| %>

          <div>
            <!--順位-->
            <h3>
              <%= f.label :rank, "順位" %>
            </h3>

            <div class="ml-3">
              <%= f.radio_button :rank, "rank1", checked: "checked" %>
              <%= f.label :rank, "1位" %>
            </div>

            <div class="ml-3">
              <%= f.radio_button :rank, "rank2" %>
              <%= f.label :rank, "2位" %>
            </div>

            <div class="ml-3">
              <%= f.radio_button :rank, "rank3" %>
              <%= f.label :rank, "3位" %>
            </div>

          </div>

          <!--ランキング用鉱石-->
          <div class="pt-4">

            <h3>
              <%= f.label :ore, "ランキング用鉱石" %>
            </h3>

            <!--手持ちの鉱石-->
            <div class="ml-3">
              <%= f.radio_button :select_material, 0, checked: "checked" %>
              <%= f.label :ore, "手持ちの鉱石" %>
              <br>
              <%= current_customer.ore %>
              <br>
              <%= current_customer.amount %>
            </div>

            <!--装飾品-->
            <div class="ml-3 mt-3">
              <%= f.radio_button :select_material, 1 %>
              <%= f.label :type, "装飾品" %>

              <!--装飾品のフィールド-->
              <div class="row">
                <div class="col-4 mt-2">
                  <%= f.text_field :postcode, placeholder: "ピアス", size: 40 %>
                </div>
              </div>

            </div>

            <!--確認画面ボタン-->
            <div class="p-5 mb-5 text-center">
              <%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
            </div>

          </div>

        <% end %>

      </div>

    </div>

</div>