<div class='container px-5 px-sm-0'>
  <div class='row'>
    <!--コメント以外のテーブル-->
    <div class="col mx-auto">
      <h2 class="teo">ランキング詳細</h2>
      <strong>ランキング情報</strong>

      <table class="sora">

        <tr>
          <td class="atora">登録日</td>
          <td>
            <%= @ranking.created_at.strftime("%Y/%m/%d") %>
          </td>
        </tr>

        <tr>
          <td class="atora">装飾品</td>
          <td>
            <%= @ranking.amulet %>
          </td>
        </tr>

        <tr>
          <td class="atora">順位</td>
          <td>
            <%= @ranking.rank_i18n %>
          </td>
        </tr>

        <tr>
          <td class="atora">ステータス</td>
          <td>
            <%= @ranking.status_i18n %>
          </td>
        </tr>

        <tr>
          <td id="favorite_buttons_<%= @ranking.id %>">
            <%= render "public/favorites/favorites", ranking: @ranking %>
          </td>
        </tr>

      </table>

      <strong>ランキング鉱石</strong>

      <table class="sora">

        <thead class="atora">
          <tr>
            <th>鉱石名</th>
            <th>数量</th>
          </tr>
        </thead>

        <tbody>
          <%# @ranking.each do |ranking| %>

            <tr>
              <td>
                <%= @ranking.ore %>
              </td>

              <td>
                <%= @ranking.amount %>
              </td>
            </tr>
          <%# end %>
        </tbody>

      </table>

    </div>

    <!--コメント用のテーブル-->
    <div class='col-3 offset-1 mt-4'>
      <table id="comments_area">
        <%= render 'public/stone_comments/stonecommenter', ranking: @ranking, stonecomment: @stone_comment %>
      </table>

      <div class="new-comment">
        <%= render 'public/stone_comments/stoneform', ranking: @ranking %>
      </div>

    </div>

  </div>
</div>