<div class="container me-3 my-5 p-0 ml-auto">

  <div class="row">
    <div class="my-3"></div>
    <div class="col-lg-12 text-center">

      <!--タイトル-->
      <h4 class="teo">
        <strong>管理者ログイン</strong>
      </h4>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <!--メールアドレスのフィールド-->
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40" %>
        </div>

        <!--パスワードのフィールド-->
        <div class="field">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password", size: "40" %>
        </div>

        <!--ログインボタン-->
        <div class="actions kirin">
          <%= f.submit "ログイン", class:"btn btn-primary btn-sm  btn-block mt-4" %>
        </div>

      <% end %>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>