<div class="container">
  <div class="row">
    <!--ジャンル検索-->
    <div class="col-md-2 mt-2">
      <%= render 'layouts/search', genres: @genres %>
    </div>

    <div class='col-md-4 mt-2'>
      <%= image_tag @ore.image, size: "180x180" %>
    </div>

    <div class='col-md-6 mt-2'>
      <!--stoneはnameカラムと同意義-->
      <h2><%= @ore.stone %></h2>
      <p><%= @ore.introduction %></p><br>

      <!--今回hiddenは付かない。-->
      <% if customer_signed_in? %>
        <%= form_with model: @ranking, url: new_ranking_path, method: :get do |f| %>

        <div class= 'container-fluid'>
          <div class="row">

            <!--hidden_field-->
              <%= f.hidden_field :ore_id, value: @ore.id %>
            <!--ランキング入力ボタン-->
            <div>
              <%= f.submit 'ランキングへ移動', class: "btn btn-success" %>
            </div>

          </div>
        </div>

        <% end %>
      <% end %>

    </div>
  </div>
</div>