<div class='container'>
  <div class="m-md-2"><br></div>
  <!--タイトル-->
  <div class="row">
    <div class="col-md-2"></div>
    <h4 class="col-md-2 mx-auto text-center teo">
      <strong>ランキング情報一覧</strong>
    </h4>

    <div class="col-md-8"></div>
  </div>

  <!--ランキングのテーブル-->
  <div class='row'>
    <div class='col-md-8 offset-md-1 pt-4'>
      <table class='table sora'>

        <thead class="atora text-white">
          <tr>
            <th>登録日時</th>
            <th>登録者</th>
            <th>登録個数</th>
            <th>順位</th>
          </tr>
        </thead>

        <!--ランキング情報の繰り返し処理-->
        <% @rankings.each do |ranking| %>
          <tbody class="haku">
            <tr>
              <td>
                <%= link_to ranking.set_date, admin_ranking_path(ranking.id) %>
              </td>

              <td>
                <%= ranking.customer.full_name %>
              </td>

              <td class="text-senter">
                <%= ranking.amount %>
              </td>

              <td class="text-senter">
                <%= ranking.rank_i18n %>
              </td>

            </tr>
          </tbody>
        <% end %>

      </table>
      <!--ページネーション-->
      <%= paginate @rankings %>
    </div>
  </div>

</div>