<div class="container">
  <div class="m-md-2"><br></div>
  <!--タイトル-->
  <div class="row">

    <h4 class="col-md-2 mx-auto text-center teo">
      <strong>ランキング情報詳細</strong>
    </h4>

    <div class="col-md-8"></div>
  </div>

  <div class="m-md-2"><br></div>

  <!--登録者-->
  <div class="order row">

    <div class="col-md-2 text-left">
      <strong>登録者</strong>
    </div>

    <div class="col-md-10 text-left">
      <%= link_to @ranking.customer.full_name, admin_customer_path(@ranking) %>
    </div>

  </div>

  <!--登録日時-->
  <div class="order row">

    <div class="col-md-2 text-left">
      <strong>登録日時</strong>
    </div>

    <div class="col-md-10 text-left">
      <%= @ranking.created_at.strftime("%Y/%m/%d") %>
    </div>

  </div>

  <!--装飾品-->
  <div class="order row">

    <div class="col-md-2 text-left">
      <strong>装飾品</strong>
    </div>

    <div class="col-md-10 text-left">
      <%= @ranking.amulet %>
    </div>

  </div>

  <!--順位-->
  <div class="order row">

    <div class="col-md-2 text-left">
      <strong>順位</strong>
    </div>

    <div class="col-md-10 text-left">
      <%= @ranking.rank_i18n %>
    </div>

  </div>

  <!--ランキングステータス更新ボタンなど-->
  <%= form_with model: @ranking, url: admin_ranking_path(@ranking), method: :patch do |f| %>
    <div class="order row">

      <div class="col-md-2 text-left">
        <strong>ランキングステータス</strong>
      </div>

      <div class="col-md-10 text-left">
        <%= f.select :status, Ranking.statuses.keys.map {|k| [I18n.t("enums.ranking.status.#{k}"), k]}, {}, {class: 'form-control seki'} %>
        <%= f.submit '更新',class: "btn btn-success" %>
      </div>

    </div>

  <% end %>

  <div class="m-md-2"><br></div>

  <div class="row">
    <div class="col-8">

      <table class="table table-hover table-bordered">

        <!--表の見出し-->
        <thead class="text-white atora">
          <tr>
            <th>鉱石名</th>
            <th>数量</th>
            <th>順位</th>
          </tr>
        </thead>

        <!--下の列3つ-->
        <tbody class="god">

            <tr>
              <td>
               <%= @ranking.ore.stone %>
              </td>

              <td>
                <%= @ranking.amount %>
              </td>

              <td>
                <%= @ranking.rank_i18n %>
              </td>
            </tr>
        </tbody>

      </table>

    </div>

    <!--コメント管理機能-->
    <% if @ranking.stone_comments.present? %>

  <!--コメント投稿後の繰り返し処理-->
  <% @ranking.stone_comments.each do |stone_comment| %>
    <tr>
      <td>
        <%= image_tag stone_comment.customer.get_image(100,100) %>
      </td>

      <td>
        <%= stone_comment.customer.last_name %>
        <%= stone_comment.customer.first_name %>
      </td>

      <td>
        <%= stone_comment.created_at.strftime('%Y/%m/%d') %>
        <%= stone_comment.comment %>
      </td>

        <td>
          <!--publicのpathだが、管理者用にコントローラーを設定している。-->
          <%= link_to "destroy", ranking_stone_comment_path(stone_comment.ranking, stone_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
        </td>

    </tr>
  <% end %>

<% end %>
<!--↑ここまでコメント管理機能-->

  </div>

</div>