<header class="ness">
  <div class="container mb-5">
    <div class="row">

      <!--後にロゴを入れる。-->

      <!--customerのログイン-->
      <% if customer_signed_in? %>
        <div class='col-md-8 offset-md-4 d-flex align-items-center'>
          <!--ボタンの右揃え-->
          <div class="text-right">
            <!--ボタン4つ-->
              <%= link_to 'マイページ',customers_my_page_path, class: "text-dark btn btn-light mt-1" %>

              <%= link_to '鉱石一覧',ores_path, class: "text-dark btn btn-light mt-1" %>

              <%= link_to 'ランキング入力',new_ranking_path, class: "text-dark btn btn-light mt-1" %>

              <%= link_to 'ログアウト',destroy_customer_session_path, method: :delete, class: "text-dark btn btn-light mt-1" %>

          </div>
        </div>
        <!--adminのログイン-->
        <% elsif admin_signed_in? %>
          <div class='col-md-5 offset-md-5 d-flex align-items-center'>
            <!--ボタンの右揃え-->
            <div class="text-right">
              <!--ボタン5つ-->
              <button type="button" class="btn btn-light mt-1">
                <%#= link_to 'ランキング情報',admin_ranking_path(@ranking.id), class: "text-dark" %>
              </button>

              <button type="button" class="btn btn-light mt-1">
                <%= link_to '鉱石一覧',admin_ores_path, class: "text-dark" %>
              </button>

              <button type="button" class="btn btn-light mt-1">
                <%= link_to '会員一覧',admin_customers_path, class: "text-dark" %>
              </button>

              <button type="button" class="btn btn-light mt-1">
                <%= link_to 'ジャンル一覧',admin_genres_path, class: "text-dark" %>
              </button>

             <button type="button" class="btn btn-light mt-1">
                <%= link_to 'ログアウト',destroy_admin_session_path, method: :delete, class: "text-dark" %>
             </button>

            </div>
          </div>
        <!--ログイン前-->
        <% else %>
          <div class='col-md-5 offset-md-5 d-flex align-items-center'>
            <!--ボタンの右揃え-->
            <div class="text-right">
              <!--ボタン4つ-->
              <button type="button" class="btn btn-light mt-1">
                <%= link_to 'About',about_path, class: "text-dark" %>
              </button>

              <button type="button" class="btn btn-light mt-1">
                <%= link_to '鉱石一覧',ores_path, class: "text-dark" %>
              </button>

              <button type="button" class="btn btn-light mt-1">
                <%= link_to '新規登録',new_customer_registration_path, class: "text-dark" %>
              </button>

              <button type="button" class="btn btn-light mt-1">
                <%= link_to 'ログイン',new_customer_session_path, class: "text-dark" %>
              </button>

            </div>
          </div>
      <% end %>

    </div>
  </div>
</header>